## Configuration for Nano
##
## for include configuration "/usr/share/nano"
##

## Include all config (bash, python, markdown, C, So on)
include "/usr/share/nano/*.nanorc"

## Use auto-indentation
set autoindent

## Constantly show cursor position
set constantshow

## Create backup files in filename~
## Set the directory where nano puts unique backup files if file backups are enabled
#lset backup
#set backupdir ""

## Do backwards searches by default
#set backwards

## Use bold text instead of reverse video text
set boldtext

## Set the characters treated as closing brackets when justifying paragraphs
set brackets ""')>]}"

## Do case sensitive searches by default
set casesensitive

## Constantly display the cursor position in the status bar
#set const

## Use "cut" to end of line by default
#set cut

## Wrap lines at column number n. If n is 0 or less,
## the maximum line length will be the screen width less n columns (+-)
#set fill -25

## Set the opening and closing brackets that can be found by bracket searches
set matchbrackets "(<[{¿¡)>]}?!"

## Use the blank line below the titlebar as extra editing space (deprecated)
# set morespace

## Enable mouse support, if available for your system
set mouse

## Allow inserting files into their own buffers
#set multibuffer

## Don’t convert files from DOS/Mac format
#set noconvert

## Don’t follow symlinks when writing files
#set nofollow

## Don’t display the help lists at the bottom of the screen
#set hohelp

## Display line numbers to the left of the text area.
set linenumbers

## Don’t add newlines to the ends of files
#set nonewlines

## Don’t wrap text at all
#set nowrap

## nano will only read and write files inside directory and its subdirectories
#set operatingdir ""

## Preserve the XON and XOFF keys (^Q and ^S)
#set preserve

## Set the characters treated as closing punctuation when justifying paragraphs
set punct "!.?"

## Do quick statusbar blanking
#set quickblank

## Interpret the Delete key differently so that both Backspace and Delete work properly
#set rebinddelete

## Interpret the numeric keypad keys so that they all work properly
#set rebindkeypad

## Do extended regular expression searches by default
set regexp

## Make the Home key smarter
set smarthome

## Use smooth scrolling by default (deprecated)
# set smooth

## Allow nano to be suspended (deprecated)
# set suspend

## Use a tab size of n columns
set tabsize 4

## Convert typed tabs to spaces
set tabstospaces

## Save automatically on exit, don’t prompt
#set tempfile

## Disallow file modification
#set view

## Set the two characters used to display the first characters of tabs and spaces
set whitespace ". "

## Detect word boundaries more accurately
## by treating punctuation characters as parts of words
#set wordbounds
