<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>terminator</execute>
			</action>
		</item>
		<item label="Terminator Urxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="Sublime-Text">
			<action name="Execute">
				<execute>subl</execute>
			</action>
		</item>
		<menu id="root-menu-931216" label="PCManfm - Menu">
			<item label="PCManfm">
				<action name="Execute">
					<execute>pcmanfm</execute>
				</action>
			</item>
			<item label="PCManfm - Computer">
				<action name="Execute">
					<execute>pcmanfm -n computer:///</execute>
				</action>
			</item>
			<item label="PCManfm - Network">
				<action name="Execute">
					<execute>pcmanfm -n network:///</execute>
				</action>
			</item>
			<separator/>
			<item label="PCManfm - Documents">
				<action name="Execute">
					<execute>pcmanfm -n ~/Documents/</execute>
				</action>
			</item>
			<item label="PCManfm - Git">
				<action name="Execute">
					<execute>pcmanfm -n ~/Git/</execute>
				</action>
			</item>
			<item label="PCManfm - Lab">
				<action name="Execute">
					<execute>pcmanfm -n ~/Lab/</execute>
				</action>
			</item>
			<item label="PCManfm - Downloads">
				<action name="Execute">
					<execute>pcmanfm -n ~/Downloads/</execute>
				</action>
			</item>
			<separator/>
			<item label="PCManfm - Trash">
				<action name="Execute">
					<execute>pcmanfm -n trash:///</execute>
				</action>
			</item>
		</menu>
		<item label="Web browser">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<menu id="/Debian"/>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="ObMenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<separator/>
		<item label="Appearance">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<item label="Screen Layout Editor">
			<action name="Execute">
				<execute>arandr</execute>
			</action>
		</item>
		<item label="Tint2Conf">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<item label="Rofi">
			<action name="Execute">
				<execute>rofi -show run</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<execute>i3lock --color &quot;#2f343f&quot;</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
